__pycache__/
*.pyc
test.py
__pycache__/configuracion.cpython-35.pyc
__pycache__/disparo.cpython-35.pyc
__pycache__/funciones.cpython-35.pyc
__pycache__/marciano.cpython-35.pyc
__pycache__/nave.cpython-35.pyc
__pycache__/spaceinvaders.cpython-35.pyc

Wireframe-9
venv37
